.a .b {
  color: red;
}

.a + .b {
  color: red;
}

.a ~ .b {
  color: red;
}

.a:not(.b) {
  color: red;
}

view view {
  color: red;
}

view + view {
  color: red;
}

view * {
  color: red;
}

view[hidden='a'] {
  color: red;
}
#a .b {
  color: red;
}
